# App config
APP_PORT=3001
APP_NAME=nestjs-boilerplate
APP_VERSION=v1
NODE_ENV=development
BASE_URL=http://localhost:3001

# DB config
DATABASE_URL="postgresql://expample_user:supersecret@localhost:5433/example_db?schema=public"

# Redis Config
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=secret

